::placeholder {
    color: #00408E !important;
}

/* Дополнительные стили для центрирования текстовых элементов */
.navbar {
    justify-content: space-between;
}

/* Дополнительные стили для выравнивания языкового блока справа */
.ml-auto {
    margin-left: auto !important;
}

.a_language {
    border-radius: 30%;
    color: white !important;
    background-color: #00408E;
    
}
.nav-item.dropdown .dropdown-toggle::after,
.nav-item.dropdown .dropdown-toggle::before {
    display: none;
}
@media (max-width: 991.98px) {
    .navbar-nav .nav-item .a_language {
        border-radius: 0;
    }
}
/* Переопределение дефолтного цвета текста */
.navbar-light .navbar-nav .nav-link {
    color: #00408E;
    /* Замените на нужный вам цвет */
    font-size: 24px;
    /* Увеличение размера текста */

}

/* Переопределение цвета текста в выпадающем меню */
.navbar-light .navbar-nav .dropdown-menu .dropdown-item {
    color: #00408E;
    /* Замените на нужный вам цвет */
}


/** {*/
/*    color: #00408E !important;*/

/*}*/

/* Дополнительные стили для центрирования текстовых элементов */
.navbar {
    justify-content: space-between;
}
#map {
    width: 100%;
    height: 600px;
}

.property-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.property-card h4 {
    margin-bottom: 10px;
}
