{% extends 'objects/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/agents.css' %}">
{% endblock %}


{% block content %}
<div class="animate-fade-in sr container ">
    <h1><strong>Агенты</strong></h1>
</div>

<img class="animate-fade-in sr  container d-flex justify-content-center w-100" src="{% static 'images/line_breaker.svg' %}" alt="">



<img class="animate-fade-in sr position-absolute d-none d-xl-block w-100" src="{% static 'images/Rectangle 16 (1).svg' %}" alt=""
    style=" top: 230px; left: 0px; z-index: -1000;">

<form method="get" id="filters-form">
    <div class="animate-fade-in sr container w-75 searching my-5 py-5">
        <div class="animate-fade-in sr row">
            <div class="animate-fade-in sr col">
                <div class="animate-fade-in sr card card-category">
                    <div class="animate-fade-in sr d-flex category-buttons justify-content-center my-3">
                        <div class="animate-fade-in sr label-spes py-3 ">
                            <div style="color: white!important; font-size: 22px; width: 200px;"
                                class="animate-fade-in sr filter-label my-2">
                                Специализация</div>
                            {{ filterset.form.specialization }}
                        </div>
                        <div class="animate-fade-in sr label-spes py-4 mx-5 px-5 ">
                            <a href="{{ clear_filter }}" style="font-size: clamp(1.125rem, 0.693vw + 0.946rem, 1.5rem); text-decoration: none;
                            line-height: clamp(1.688rem, 0.485vw + 1.562rem, 1.95rem); "
                                class="animate-fade-in sr category-button px-5 mx-5 w-50">Все</a>
                        </div>
                        <div class="animate-fade-in sr label-spes py-3 ">

                            <div style="color: white!important; font-size: 22px; width: 200px; "
                                class="animate-fade-in sr filter-label my-2">
                                Район</div>
                            {{ filterset.form.district }}

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

{% for agent in agents %}
<div class="animate-fade-in sr  container my-5">
<div class="animate-fade-in sr row">
    <div class="animate-fade-in sr col-md-12">
        <div class="animate-fade-in sr card searchable">
            <div class="animate-fade-in sr row g-0">
                <div class="animate-fade-in sr col-md-4">
                    <div class="animate-fade-in sr card-body">
                        <h5 class="animate-fade-in sr card-title mb-4 "><b>{{ agent.full_name }}</b></h5>
                        <p class="animate-fade-in sr card-text mb-4 "><strong>Агент компании
                                &lt;{{ agent.agency_name }}&gt;</strong>
                        </p>
                        <p class="animate-fade-in sr card-text mb-4 ">Зона обслуживания: <strong>
                            {% for district in agent.district.all %}
                                {{ district }},
                            {% endfor %}
                        </strong></p>
                        <p class="animate-fade-in sr card-text mb-4">Стаж: <strong>{{ agent.experience }}
                                года</strong></p>
                        <p class="animate-fade-in sr card-text mb-4">Девиз:
                            <strong>{{ agent.slogan }}</strong></p>
                    </div>
                </div>
                <div class="animate-fade-in sr col-md-2">
                    <div class="animate-fade-in sr d-flex justify-content-center py-3">
                        <img style="width: 238px; height: 288px; border-radius: 40px ; border-image-slice: 20px; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)); " class="animate-fade-in sr specialist-img " src=" {{ agent.image.url}}" alt="Specialist">
                    </div>
                </div>
                <div class="animate-fade-in sr col-md-6">
                    <h2 class="animate-fade-in sr d-flex mx-5 px-5">Обьекты: </h2>
                    <div class="animate-fade-in sr row g-0 justify-content-center my-3">
                        {% if agent.agent_object.exists %}
                        {% for ag_object in agent.agent_object.all %}
                        <div class="animate-fade-in sr col-md-2 ">
                            <img style="width: 90px; height: 134px; border-radius: 20%" src="{{ ag_object.images.all.0.image.url }}"
                                class="animate-fade-in sr img-fluid " alt="Object 1">
                            <h4>{{ ag_object.address }}</h4>
                            <div>{% if ag_object.series %}{{ ag_object.series }}
                                серия{% else %}Серия не
                                указана{% endif %}</div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="animate-fade-in sr col-md-2">
                            <img src="{% static 'images/Rectangle 17.svg' %}"
                                class="animate-fade-in sr img-fluid rounded-start" alt="Object 1">
                            <h4>Нет объектов агента</h4>
                        </div>
                        {% endif %}
                    </div>

                    <div class="animate-fade-in sr d-flex justify-content-end btn-more-info my-3 me-5">
                        <a href="{% url 'users:agent_details' agent.id %}"
                            style="color: white!important; background-color: #90C83F; border: none; border-radius: 20px;"
                            class="animate-fade-in sr btn btn-success">Подробнее></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Добавляем обработчик события на изменение значений фильтров
    $('#filters-form :input').change(function () {
        $('#filters-form').submit(); // Автоматическая отправка формы
    });
</script>

</div>
{% endblock %}