{% extends 'objects/base.html' %}
{% load static  %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/card_agent.css' %}">
{% endblock %}


    {% block content %}
    	<div class="d-flex justify-content-end">
        <img style="width: 200px; height: 200px;" class="" src="{% static 'images/Black.svg' %}" alt="">

    </div>
    <div class="row g-0 ">
        <div class="col-md-4 d-flex justify-content-center">
            <img src="{{ agent_details.image.url }}" class="img-fluid" alt="Specialist Image">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h2 class="card-title">{{ agent_details.full_name }}</h2>
                <div class="specialist-rating">
                </div>
                <p class="card-text"><b>Агент компании &lt;{{ agent_details.agency_name }}&gt;</b></p>
                <p class="card-text">Стаж: <b>{{ agent_details.experience }} года</b></p>
                <p class="card-text">Номер телефона: <b> {{ agent_details.phone }} </b></p>
                <a href="https://wa.me/{{ agent_details.phone }}?text=Здравствуйте, {{ agent_details.full_name }}" class="btn btn-success btn-chat">Начать чат</a>
                <a href="tel:{{ agent_details.phone }}" class="btn btn-primary btn-call">Позвонить</a>
            </div>
        </div>
        <div class="col-md-4 my-3 ">
            <img src="{% static 'images/Frame 209.svg' %}" alt="">
            <div class="info-spes my-5">
                <p class="card-text">
                    Специализация:
                    <ul class="specialization-list ">
                        {% for specialization in agent_details.specialization.all %}
                            <b>
                                <li>{{ specialization }}</li>
                            </b>
                        {% endfor %}
                    </ul>
                </p>

            </div>

        </div>
    </div>

    <div class="d-flex justify-content-end">
        <img style="width: 250px; height: 250px; bottom: 90px;" class="position-absolute " src="{% static 'images/Black.svg' %}"
            alt="">
    </div>
    {% endblock %}
