{% extends 'objects/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/apartments.css' %}">
{% endblock %}

{% block content %}


    <div class="animate-fade-in sr container ">
        <h1><strong>Недвижимости</strong></h1>
    </div>

    <img class="animate-fade-in sr  container d-flex justify-content-center w-100" src="{% static 'images/line_breaker.svg' %}" alt="">


    <img class="animate-fade-in sr position-absolute d-none d-xl-block w-100" src="{% static 'images/Rectangle 16.svg' %}" alt=""
         style=" top: 340px; left: 0px; z-index: -1000;">

    <div class="animate-fade-in sr container w-75 searching my-5 ">
        <div class="animate-fade-in sr row">
            <div class="animate-fade-in sr col">
                <div class="animate-fade-in sr card card-category">
                    <div class="animate-fade-in sr d-flex category-buttons justify-content-center my-4 position-relative">
                        <button class="animate-fade-in sr category-button px-5 mx-5" onclick="filterCategory('all')">Все</button>
                        <button class="animate-fade-in sr category-button" onclick="filterCategory('Аренда')">Аренда</button>
                        <button class="animate-fade-in sr category-button px-5 mx-5" onclick="filterCategory('Продажа')">Покупка</button>

                    </div>
                    <div class="animate-fade-in sr container">
                        <hr style="background-color: white; height: 2px;" class="animate-fade-in sr devider">
                    </div>

                    <form action="" method="get" id="filters-form">
                            <div class="animate-fade-in sr filter-options">
                            <div class="animate-fade-in sr label-container">
                                <div class="animate-fade-in sr filter-label">Серия</div>
                                {{ filterset.form.series }}
                            </div>

                            <div class="animate-fade-in sr label-container mb-4">
                                <div class="animate-fade-in sr filter-label">Район</div>
                                {{ filterset.form.district }}
                            </div>

                            <div class="animate-fade-in sr label-container">
                                <div class="animate-fade-in sr filter-label">Площадь</div>
                                {{ filterset.form.area }}
                            </div>

                            <div class="animate-fade-in sr label-container">
                                <div class="animate-fade-in sr filter-label">Цена от</div>
                                {{ filterset.form.priceFrom }}
                            </div>

                            <div class="animate-fade-in sr label-container ">
                                <div class="animate-fade-in sr filter-label">Цена до</div>
                                {{ filterset.form.priceTo }}
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Добавляем обработчик события на изменение значений фильтров
    $('#filters-form :input').change(function() {
        $('#filters-form').submit(); // Автоматическая отправка формы
    });
</script>

    <script>
        // JavaScript for filtering by category...
        function filterCategory(category) {
        const propertyCards = document.querySelectorAll('.col');
        propertyCards.forEach(card => {
            // Update card filtering logic...
        });

        // Update URL and submit form
        const filtersForm = document.getElementById('filters-form');
        const categoryInput = document.createElement('input');
        categoryInput.setAttribute('type', 'hidden');
        categoryInput.setAttribute('name', 'category');
        categoryInput.setAttribute('value', category);
        filtersForm.appendChild(categoryInput);
        filtersForm.submit();
}
    </script>

    <img class="animate-fade-in sr  container d-flex justify-content-center w-100" src="{% static 'images/line_breaker.svg' %}" alt="">



    <div class="animate-fade-in sr container ">
        <h1><strong>Все</strong></h1>
    </div>

    <div class="animate-fade-in sr py-5">
        <div class="animate-fade-in sr container">1
            <div class="animate-fade-in sr row">

                {% for obj in objects_ad %}
                <div class="animate-fade-in sr col-lg-3 col-md-6 col-sm-12 mb-4 searchable">
                    <a class="animate-fade-in sr myownlink" href="{% url 'obj:details' obj.id %}" style="text-decoration: none">
                    <div class="animate-fade-in sr card custom-card zoom-card">
                        <div class="animate-fade-in sr d-flex justify-content-center my-3">
                            <img style="width: 198px; height: 229px" class="animate-fade-in sr card-img-top" src="{{ obj.images.all.0.image.url }}" alt="">
                            <div class="animate-fade-in sr recommended-text">{{ obj.ad_type }}</div>
                        </div>
                        <div class="animate-fade-in sr card-block mx-3">
                            <div class="animate-fade-in sr d-flex">
                                <h4 style="color: #00408E;" class="animate-fade-in sr card-title">{{ obj.category.category_name }}</h4>

                            </div>
                            <p style="font-size: 18px;">{{ obj.price }}$</p>
                            <div class="animate-fade-in sr d-flex">
                                <p style="font-size: 18px; margin-right: 70px;">{{ obj.rooms }} комнаты</p>
                                <p style="font-size: 18px; margin-right: 10px;">{{ obj.kitchens_area }}m</p>
                            </div>
                            <div class="animate-fade-in sr d-flex">
                                <p style="font-size: 18px; margin-right: 85px;">{{ obj.current_floor }}/{{ obj.total_floors }} этаж</p>
                                <p style="font-size: 18px; ">{{ obj.series }} серия</p>
                            </div>
                            <p style="font-size: 18px; margin-bottom: 5px;">{{ obj.address }}</p>
                        </div>
                    </div>
                        </a>
                </div>

            {% empty %}
                <p>Нет совпадений</p>
            {% endfor %}

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
{% endblock %}

