{% extends 'objects/base.html' %}
{% load static %}


{% block css %}

<link rel="stylesheet" href="{% static 'css/map.css' %}">
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>

{% endblock %}


{% block content %}

<div class="position-absolute" id="map"></div>


<div class="row my-5 d-flex justify-content-between">
    <div class="col-md-4">
        <form method="get" id="filters-form">
                <div class="property-card">
                    <img style="margin-bottom: -100px; margin-top: -20px; margin-right: 0; position: absolute; right: 0; width: 38%;"
                        src="/static/images/Picture_main_2.svg" alt="">
                    <h4>Тип недвижимости</h4>
                    {{ filterset.form.category }}
                    <h4>Район</h4>
                    {{ filterset.form.district }}
                    <h4>Серия</h4>
                    {{ filterset.form.series }}
                    <h4>Кол-во комнат</h4>
                    {{ filterset.form.rooms }}
                    <h4>Стоимость</h4>
                    <div class="input-group my-3">
                        {{ filterset.form.priceFrom }}
                        {{ filterset.form.priceTo }}
                    </div>
                </div>
        </form>
    </div>

    <style>
        /* Стили для контейнера с карточками */
        .card-container {
            max-height: 550px; /* Максимальная высота контейнера */
            overflow-y: scroll; /* Добавляем вертикальную полосу прокрутки */
        }

        /* Стили для карточек */
        .custom-card {
            background-color: #00408E;
            border-radius: 20px;
            color: white !important;
            margin: 10px;
            padding: 10px;
        }
    </style>
    <div class="col-md-4">
        <div style="border-radius: 40px;" class="card d-flex align-items-center">
            <div class="col card-container">
                <h4 class="my-3">Найдено 7432 обьектов</h4>

                {% for object in map_objects %}
                    <div class="col-md-12 mb-3">
                    <div class="col my-2">
                        <div style="background-color: #00408E; border-radius: 20px; " class="card custom-card">
                            <div class="row">
                                <div class="col-md-3 my-3">
                                    <img style="height: 95px; width: 95px; border-radius: 30%" src="{{ object.images.all.0.image.url }}" alt="">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 style="color: white!important;" class="mb-0">{{ object.category }}, {{ object.rooms }} комнаты,
                                            {% if object.current_floor %}{{ object.current_floor }} этаж{% else %}этаж не указан{% endif %}</h5>
                                        <p style="color: white!important;" class="mb-1">3 соток?</p>
                                        <p style="color: white!important;" class="mb-1">С. Кок-Жар?</p>
                                        <h5 style="color: #90C83F!important;" class="mb-0 d-flex justify-content-end">{{ object.price }}$</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 {% empty %}
                    <h5>Нет совпадений</h5>
                {% endfor %}

            </div>
        </div>
    </div>

   
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Добавляем обработчик события на изменение значений фильтров
    $('#filters-form :input').change(function() {
        $('#filters-form').submit(); // Автоматическая отправка формы
    });
</script>


<script>
        // Функция для создания и отображения карты
        function initMap() {
            var center = [42.874722, 74.569778]; // Координаты центра карты для города Bishkek (Бишкек)
            var coordinates = [
                [42.874722, 74.569778], // Координаты центра для примера
                [42.8494309, 74.5899713], // Пример другой координаты
                // Добавьте другие координаты в формате [широта, долгота]
            ];

            // Создание карты
            var map = DG.map('map', {
                center: center, // Центр карты
                zoom: 13 // Масштаб карты
            });

            // Добавление меток на карту
            for (var i = 0; i < coordinates.length; i++) {
                var coord = coordinates[i];
                var marker = DG.marker(coord).addTo(map);
                marker.bindPopup('Marker ' + i); // Текст во всплывающем окне при клике на метку
            }
        }

        // Вызов функции после полной загрузки страницы
        window.onload = function () {
            DG.then(initMap); // Инициализация карты после загрузки библиотеки
        };
    </script>

{% endblock %}
