{% extends 'objects/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
{% endblock %}

{% block content %}
<div class="position-absolute" id="map"></div>

<div class="row my-5 d-flex justify-content-between">
    <div class="col-md-4">
        <form method="get" id="filters-form">
            <div class="property-card">
                <img style="margin-bottom: -100px; margin-top: -20px; margin-right: 0; position: absolute; right: 0; width: 38%;" src="/static/images/Picture_main_2.svg" alt="">
                <h4>Тип недвижимости</h4>
                {{ filterset.form.category }}
                <h4>Район</h4>
                {{ filterset.form.district }}
                <h4>Серия</h4>
                {{ filterset.form.series }}
                <h4>Кол-во комнат</h4>
                {{ filterset.form.rooms }}
                <h4>Стоимость</h4>
                <div class="input-group my-3">
                    {{ filterset.form.priceFrom }}
                    {{ filterset.form.priceTo }}
                </div>
            </div>
        </form>
    </div>

    <style>
        /* Стили для контейнера с карточками */
        .card-container {
            max-height: 550px;
            overflow-y: scroll;
        }

        /* Стили для карточек */
        .custom-card {
            background-color: #00408E;
            border-radius: 20px;
            color: white !important;
            margin: 10px;
            padding: 10px;
        }

        .active {
            background-color: #90C83F; /* Цвет фона для активного объекта */
            color: white; /* Цвет текста для активного объекта */
            font-weight: bold; /* Жирный шрифт для активного объекта */
        }
    </style>
    <div class="col-md-4">
        <div style="border-radius: 40px;" class="card d-flex align-items-center">
            <div class="col card-container">
                <h4 style="padding-left: 15px" class="my-3">Найдено {{ map_objects | length }} объектов</h4>

                {% for object in map_objects %}
                    <a href="#" style="color: white; text-decoration: none" class="object-link" data-marker-id="{{ forloop.counter0 }}" data-objectid="{{ object.id }}" id="{{ object.id }}">
                        <div class="col-md-12 mb-3">
                            <div class="col my-2">
                                <div style="background-color: #00408E; border-radius: 20px; " class="card custom-card">
                                    <div class="row">
                                        <div class="col-md-3 my-3">
                                            <img style="height: 95px; width: 95px; border-radius: 30%;" src="{{ object.images.all.0.image.url }}" alt="">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="card-body">
                                                <h5 style="color: white!important;" class="mb-0">{{ object.category }}, {{ object.rooms }} комнаты,
                                                    {% if object.current_floor %}{{ object.current_floor }} этаж{% else %}этаж не указан{% endif %}</h5>
                                                <p style="color: white!important;" class="mb-1">{{ object.area }}m^2</p>
                                                <p style="color: white!important;" class="mb-1">{{ object.address }}, {{ object.city }}</p>
                                                <h5 style="color: #90C83F!important;" class="mb-0 d-flex justify-content-end">{{ object.price }}$</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                 {% empty %}
                    <h5>Нет совпадений</h5>
                {% endfor %}
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Добавляем обработчик события на изменение значений фильтров
    $('#filters-form :input').change(function() {
        $('#filters-form').submit();
    });

    $(document).ready(function() {
    var map;
    var markers = [];

    function initMap() {
        var center = [42.874722, 74.569778];
        var coordinates = {{ object_coordinates|safe }};

        map = DG.map('map', {
            center: center,
            zoom: 13
        });

        for (var i = 0; i < coordinates.length; i++) {
            var coord = coordinates[i];
            var marker = DG.marker(coord).addTo(map);
            markers.push(marker);
        }
    }

    DG.then(initMap);

    var objectLinks = $('.object-link');

    objectLinks.on('click', function(event) {
        event.preventDefault();
        var markerId = $(this).data('marker-id');
        var marker = markers[markerId];
        if (marker) {
            marker.openPopup();
            map.panTo(marker.getLatLng());

            objectLinks.removeClass('active');
            $(this).addClass('active');
        }
    });

    markers.forEach(function(marker, index) {
        marker.on('click', function() {
            var objectLinkId = '[data-object-id="' + (markers[index]?.options.icon.options.objectId) + '"]';
            var objectLink = $(objectLinkId);

            if (objectLink.length > 0) {
                objectLinks.removeClass('active');
                objectLink.addClass('active');

                $('html, body').animate({
                    scrollTop: objectLink.offset().top
                }, 500);
            }
        });
    });

    // Связываем объекты и метки
    objectLinks.each(function(index) {
        markers[index].options.icon.options.objectId = $(this).data('object-id');
    });
});
</script>

{% endblock %}