{% extends 'objects/base.html' %}
{% load static %}


{% block css %}
	<link rel="stylesheet" href="{% static 'css/rooms.css' %}">
{% endblock %}


{% block content %}
	<!-- <div class="animate-fade-in sr container">
    <div class="animate-fade-in sr row">
      <div class="animate-fade-in sr col-md-3">
        <img style="height: 100px; width: 100px;" class="animate-fade-in sr thumbnail-image" src="/public/picture_1.svg" alt="Thumbnail Image 1" width="50" height="50">
        <img style="height: 100px; width: 100px;" class="animate-fade-in sr thumbnail-image" src="/public/picture_1.svg" alt="Thumbnail Image 1" width="50" height="50">
        <img style="height: 100px; width: 100px;" class="animate-fade-in sr thumbnail-image" src="/public/picture_1.svg" alt="Thumbnail Image 1" width="50" height="50">
      </div>
      <div class="animate-fade-in sr col-md-6">
        <img class="animate-fade-in sr large-image" src="/public/picture.svg" alt="Large Image" style="display: block;">
      </div>
    </div>
  </div>
   -->



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const thumbnails = document.querySelectorAll(".thumbnail-image");
            const largeImage = document.querySelector(".large-image");
            const defaultSrc = largeImage.getAttribute("src"); // Запоминаем исходный путь к большой картинке

            thumbnails.forEach(thumbnail => {
                thumbnail.addEventListener("click", function () {
                    const newSrc = thumbnail.getAttribute("src");
                    largeImage.setAttribute("src", newSrc);
                });
            });

            // Установка большой картинки по умолчанию
            largeImage.setAttribute("src", defaultSrc);
        });
    </script>

    <div class="animate-fade-in sr container my-5">
        <div class="animate-fade-in sr row">
            <div class="animate-fade-in sr col-md-1 col-lg-1 col-sm-12 me-4">
                <img style="height: 100px; width: 100px; border-radius: 20px; " class="animate-fade-in sr my-2"
                    src="{{ object_detail.images.all.0.image.url }}"
                    alt="" onclick="changeImage(this)">
                <img style="height: 100px; width: 100px; border-radius: 20px; " class="animate-fade-in sr my-3"
                    src="{{ object_detail.images.all.1.image.url }}"
                    alt="" onclick="changeImage(this)">
                <img style="height: 100px; width: 100px; border-radius: 20px; " class="animate-fade-in sr my-3"
                    src="{{ object_detail.images.all.2.image.url }}"
                    alt="" onclick="changeImage(this)">
                <img style="height: 100px; width: 100px; border-radius: 20px; " class="animate-fade-in sr my-3"
                    src="{{ object_detail.images.all.3.image.url }}"
                    alt="" onclick="changeImage(this)">
            </div>
            <div class="animate-fade-in sr col-md-8 mx-md-5 col-lg-5 col-sm-12">
                <div class="animate-fade-in sr post">
                    <div class="animate-fade-in sr ">
                        <img style="height: 500px; width: 100%; max-width: 500px; border-radius: 30px;"
                            src="{{ object_detail.images.all.0.image.url }}"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="animate-fade-in sr col-md-8 col-sm-12 col-lg-4 div-rounded">
                <div class="animate-fade-in sr property-details">
                    <div class="animate-fade-in sr div-info-1 d-flex justify-content-between">
                        <span>Тип: <b style="font-size: 18px;">{{ object_detail.category.category_name }} </b></span>
                        <span>Стоимость: <b style="font-size: 18px;">{{ object_detail.price }}$ </b></span>
                    </div>
                    <div class="animate-fade-in sr div-info-adress my-4">
                        <span>Адресс: <b style="font-size: 18px;"> {{ object_detail.address }} </b></span>
                    </div>
                    <div class="animate-fade-in sr div-info-topic-brief d-flex justify-content-between">
                        <div class="animate-fade-in sr row d-flex justify-content-center align-items-center text-center">
                            <span>Комнаты</span>
                            <span> <b>{{ object_detail.rooms }}</b></span>
                        </div>
                        <div class="animate-fade-in sr separator d-flex justify-content-center align-items-center text-center"></div>
                        <div class="animate-fade-in sr row d-flex justify-content-center align-items-center text-center">
                            <span>Серия</span>
                            <span><b>{% if object_detail.series %}{{ object_detail.series }} серия{% else %}Не указан{% endif %}</b></span>
                        </div>
                        <div class="animate-fade-in sr separator"></div>
                        <div class="animate-fade-in sr row d-flex justify-content-center align-items-center text-center">
                            <span>Площадь, м2</span>
                            <span><b>{{ object_detail.area }}</b></span>
                        </div>
                    </div>
                    <div class="animate-fade-in sr div-info-topic-brief d-flex justify-content-between">
                        <div class="animate-fade-in sr row d-flex justify-content-center align-items-center text-center">
                            <span style="width: 124px;">Этаж</span>
                            <span><b>{% if object_detail.current_floor %}{{ object_detail.current_floor }}{% else %}Не указан{% endif %}/
                                {% if object_detail.total_floors %}{{ object_detail.total_floors }}{% else %}Не указан{% endif %}</b></span>

                        </div>
                        <div class="animate-fade-in sr separator d-flex justify-content-center align-items-center text-center"></div>
                        <div class="animate-fade-in sr row d-flex justify-content-center align-items-center text-center">
                            <span>Застройщик</span>
                            <span><b>{{ object_detail.zastroishik }}</b></span>
                        </div>
                        <div class="animate-fade-in sr separator"></div>
                        <div class="animate-fade-in sr row d-flex justify-content-center align-items-center text-center">
                            <span>Окна (направление)</span>
                            <span><b>{{ object_detail.window_direction }}</b></span>
                        </div>
                    </div>
                </div>

                <div class="animate-fade-in sr btn-commit  my-5 mx-2">
                    <div class="animate-fade-in sr d-flex col  justify-content-between">
                        <div class="animate-fade-in sr text-center my-md-2 btn-str">
                            <div class="animate-fade-in sr text-btn">Этап строительства</div>
                            <div style="font-size: 22px;" class="animate-fade-in sr text-btn"><b
                                    style="color: #90C83F!important;">{{ object_detail.status }}</b></div>
                        </div>
                        <div class="animate-fade-in sr text-center my-md-2 justify-content-center btn-rare">
                            <div class="animate-fade-in sr white">Срок сдачи</div>
                            <div style="font-size: 22px;" class="animate-fade-in sr white"><b style="color: #fff!important;">--</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function changeImage(element) {
            const largeImage = document.querySelector(".post img");
            largeImage.src = element.src;
        }
    </script>

    <div class="animate-fade-in sr container d-flex my-md-5">
        <ul class="animate-fade-in sr m-d expand-list ">
            <li data-md-content="300">
                <label name="tab" for="tab2" tabindex="-1" class="animate-fade-in sr tab_lab" role="tab">Дополнительная информация
                    v</label>
                <input type="checkbox" class="animate-fade-in sr tab" id="tab2" tabindex="0" />
                <span class="animate-fade-in sr open-close-icon"><i class="animate-fade-in sr fas fa-plus"></i><i class="animate-fade-in sr fas fa-minus"></i></span>
                <div class="animate-fade-in sr content d-flex justify-content-between">
                    <div class="animate-fade-in sr row">
                        <span class="animate-fade-in sr my-2"> Количество этажей:</span>
                        <span class="animate-fade-in sr my-2"> Площадь кухни:</span>
                        <span class="animate-fade-in sr my-2"> Отопление:</span>
                        <span class="animate-fade-in sr my-2"> Мебель:</span>
                        <span class="animate-fade-in sr my-2"> Балкон, лоджия:</span>
                        <span class="animate-fade-in sr my-2"> Правоустанавливающие документы:</span>
                    </div>
                    <div class="animate-fade-in sr row ">
                        <span class="animate-fade-in sr my-2"> <b>{{ object_detail.current_floor }}/{{ object_detail.total_floors }}</b></span>
                        <span class="animate-fade-in sr my-2"> <b>{{ object_detail.kitchens_area }}</b></span>
                        <span class="animate-fade-in sr my-2"> <b>{{ object_detail.otoplenie }}</b></span>
                        <span class="animate-fade-in sr my-2"><b> {{ object_detail.furniture }}</b></span>
                        <span class="animate-fade-in sr my-2"><b>{{ object_detail.balcony }}</b></span>
                        <span class="animate-fade-in sr my-2"> <b>{{ object_detail.documents }}</b></span>
                    </div>
                    <img class="animate-fade-in sr me-5 pe-5 d-none d-md-block" src="{% static 'images/Line 10.svg' %}" alt="">
                    <div class="animate-fade-in sr row ">
                        <span class="animate-fade-in sr my-2"> Ремонт:</span>
                        <span class="animate-fade-in sr my-2"> Окна (направленность):</span>
                        <span class="animate-fade-in sr my-2"> Защита территории:</span>
                        <span class="animate-fade-in sr my-2"> Материал стен:</span>
                        <span class="animate-fade-in sr my-2"> Тип предложения:</span>
                    </div>
                    <div class="animate-fade-in sr row ">
                        <span class="animate-fade-in sr my-2"> <b>{{ object_detail.remont }}</b></span>
                        <span class="animate-fade-in sr my-2"><b> {{ object_detail.window_direction }}</b></span>
                        <span class="animate-fade-in sr my-2"><b>{{ object_detail.security }}</b></span>
                        <span class="animate-fade-in sr my-2"> <b>{{ object_detail.walls_material }}</b></span>
                        <span class="animate-fade-in sr my-2"><b> {{ object_detail.ad_type }}</b></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="animate-fade-in sr container ">
        <h1><strong>Вас может заинтересовать: </strong></h1>
    </div>

    <div class="animate-fade-in sr py-5">
        <div class="animate-fade-in sr container">
            <div class="animate-fade-in sr row">


                {% for recommendation in recommendations %}
                <div class="animate-fade-in sr col-lg-3 col-md-6 col-sm-12 mb-4">
                    <a href="{% url 'obj:details' recommendation.id %}" style="text-decoration: none">
                        <div class="animate-fade-in sr card custom-card zoom-card">
                        <div class="animate-fade-in sr d-flex justify-content-center my-3">
                                <img style="width: 198px; height: 229px" class="animate-fade-in sr card-img-top" src="{{ recommendation.images.all.0.image.url }}" alt="">
                        </div>
                        <div class="animate-fade-in sr card-block mx-3">
                            <div class="animate-fade-in sr d-flex">
                                <h4 style="color: #00408E;" class="animate-fade-in sr card-title">{{ recommendation.category.category_name }}</h4>
{#                                <img style="margin-left: 80px; margin-top: 25px;" src="{% static 'images/Vector.svg' %}" alt="">#}
                            </div>
                            <p style="font-size: 18px;">{{ recommendation.price }}$</p>
                            <div class="animate-fade-in sr d-flex">
                                <p style="font-size: 18px; margin-right: 70px;">{{ recommendation.rooms }} комнаты</p>
                                <p style="font-size: 18px; margin-right: 10px;">{% if recommendation.kitchens_area %}{{ recommendation.kitchens_area }} m{% endif %}</p>
                            </div>
                            <div class="animate-fade-in sr d-flex">
                                <p style="font-size: 18px; margin-right: 85px;">{% if recommendation.current_floor %}{{ recommendation.current_floor }}{% else %}Не указан{% endif %}/{% if recommendation.total_floors %}{{ recommendation.total_floors }} этаж{% else %}{% endif %}</p>
                                <p style="font-size: 18px; ">{% if recommendation.series %}{{ recommendation.series }}серия{% else %}Не указан{% endif %} </p>
                            </div>
                            <p style="font-size: 18px; margin-bottom: 5px;">{{ recommendation.address }}</p>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>

    <div class="animate-fade-in sr container mt-5">
        <div class="animate-fade-in sr row">
            <div class="animate-fade-in sr ">
                <button style="background-color: white; color: #90C83F!important; border: none;" class="animate-fade-in sr btn btn-primary btn-block mb-3"
                    type="button" data-toggle="collapse" data-target="#loanCalculator" aria-expanded="false"
                    aria-controls="loanCalculator">
                    Ипотечный калькулятор V
                </button>
                <div class="animate-fade-in sr collapse" id="loanCalculator">
                    <div class="animate-fade-in sr calculator">
                        <div class="animate-fade-in sr row">
                            <div class="animate-fade-in sr col-6 col-sm-3">
                                <div class="animate-fade-in sr form-group">
                                    <label class="animate-fade-in sr my-2" for="loan-amount"><b>Общая сумма</b></label>
                                    <div class="animate-fade-in sr input-group">
                                        <input type="number" id="loan-amount" class="animate-fade-in sr form-control" placeholder="Введите сумму" min="0" step="1000">
                                        <span class="animate-fade-in sr input-group-text">$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="animate-fade-in sr col-6 col-sm-3">
                                <div class="animate-fade-in sr form-group">
                                    <label class="animate-fade-in sr my-2" for="down-payment"><b>Первоначальный взнос:</b></label>
                                    <div class="animate-fade-in sr input-group">
                                        <input type="number" id="down-payment" class="animate-fade-in sr form-control" placeholder="Введите сумму" min="0" step="1000">
                                        <span class="animate-fade-in sr input-group-text">$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="animate-fade-in sr col-6 col-sm-3">
                                <div class="animate-fade-in sr form-group">
                                    <label class="animate-fade-in sr my-2" for="interest-rate"><b>Процентная ставка:</b></label>
                                    <div class="animate-fade-in sr input-group">
                                        <input type="number" id="interest-rate" class="animate-fade-in sr form-control" placeholder="Введите процент" min="0" step="0.1">
                                        <span class="animate-fade-in sr input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="animate-fade-in sr col-6 col-sm-3">
                                <div class="animate-fade-in sr form-group">
                                    <label class="animate-fade-in sr my-2" for="loan-term"><b>Срок кредитования:</b></label>
                                    <div class="animate-fade-in sr input-group">
                                        <input type="number" id="loan-term" class="animate-fade-in sr form-control" placeholder="Введите срок" min="1">
                                        <span class="animate-fade-in sr input-group-text">лет</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="animate-fade-in sr blue-divider my-4"></div>
                        <div class="animate-fade-in sr d-flex justify-content-center">
                            <button style="color: #fff!important; background-color: #00408E; border-radius: 30px; width: 200px; border: none; height: 40px;" class="animate-fade-in sr btn-calculate">Рассчитать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to show calculation result -->
    <div class="animate-fade-in sr modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
        <div class="animate-fade-in sr modal-dialog" role="document">
            <div class="animate-fade-in sr modal-content">
                <div class="animate-fade-in sr modal-header">
                    <h5 class="animate-fade-in sr modal-title" id="resultModalLabel">Результат расчета</h5>
                    <button type="button" class="animate-fade-in sr close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="animate-fade-in sr modal-body" id="calculationResult">
                    <!-- Calculation result will be displayed here -->
                </div>
                <div class="animate-fade-in sr modal-footer">
                    <button type="button" class="animate-fade-in sr btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Calculate function
        function calculate() {
            // Fetch input values
            const loanAmount = parseFloat(document.getElementById("loan-amount").value);
            const downPayment = parseFloat(document.getElementById("down-payment").value);
            const interestRate = parseFloat(document.getElementById("interest-rate").value);
            const loanTerm = parseInt(document.getElementById("loan-term").value);

            // Your calculation logic here...
            // For example, calculate monthly payment
            const monthlyPayment = (loanAmount - downPayment) * (interestRate / 100 / 12) / (1 - Math.pow(1 + (interestRate / 100 / 12), -loanTerm * 12));

            // Display result in the modal
            document.getElementById("calculationResult").innerHTML = "Ежемесячный платеж: $" + monthlyPayment.toFixed(2);

            // Show the modal
            $("#resultModal").modal("show");
        }

        // Event listener for the calculate button
        document.querySelector(".btn-calculate").addEventListener("click", calculate);
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
{% endblock %}
