<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить недвижимость</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 30px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .form-group label {
            font-weight: bold;
        }

        .form-control-file {
            display: none;
        }

        .custom-file-label::after {
            content: "Выберите файл";
        }

        .custom-file-label.selected::after {
            content: attr(data-content);
        }

        .btn-submit {
            background-color: #007bff;
            color: #ffffff;
            border: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 class="mb-4">Добавить недвижимость</h2>
        <form action="{% url 'adminus:object-add' %}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="{{ form.category.id_for_label }}">Тип:</label>
                {{ form.category }}
            </div>
            <div class="form-group">
                <label for="{{ form.series.id_for_label }}">Серия:</label>
                {{ form.series }}
            </div>
            <div class="form-group">
                <label for="{{ form.area.id_for_label }}">Площадь (м2):</label>
                {{ form.area }}
            </div>
            <div class="form-group">
                <label for="{{ form.rooms.if_for_label }}">Кол-во комнат:</label>
                {{ form.rooms }}
            </div>
            <div class="form-group">
                <label for="{{ form.current_floor.id_for_label }}">На каком этаже:</label>
                {{ form.current_floor }}
            </div>
            <div class="form-group">
                <label for="{{ form.total_floors.id_for_label }}">Общее количество этажей:</label>
                {{ form.total_floor }}
            </div>
            <div class="form-group">
                <label for="{{ form.address.id_for_label }}">Адрес:</label>
                {{ form.address }}
            </div>
            <div class="form-group">
                <label for="{{ form.zastroishik.id_for_label }}">Застройщик:</label>
                {{ form.zastroishik }}
            </div>
            <div class="form-group">
                <label for="{{ form.window_direction.id_for_label }}">Направление окон:</label>
                {{ form.window_direction }}
            </div>
            <div class="form-group">
                <label for="{{ form.construction_stage.id_for_label }}">Этап строительства:</label>
                <div class="form-check">
                    {{ form.construction_stage }}
                    <label class="form-check-label" for="{{ form.construction_stage.id_for_label }}">Завершен</label>
                </div>
                <div class="form-check">
                    {{ form.construction_stage }}
                    <label class="form-check-label" for="{{ form.construction_stage.id_for_label }}">Не завершен</label>
                </div>
            </div>


            <div class="form-group">
                <label for="{{ form.images.id_for_label }}">Добавить фото (до 5 штук):</label>
                {{ form.images }}
            </div>
            <div class="form-group">
                <label for="uploadedPhotos">Фотографии:</label>
                <div id="uploadedPhotos" class="d-flex flex-wrap">
                    <!-- Здесь будут отображаться загруженные фотографии -->
                </div>
            </div>
            <script>const photosInput = document.getElementById('photos');
                const uploadedPhotosContainer = document.getElementById('uploadedPhotos');
                
                photosInput.addEventListener('change', function () {
                    uploadedPhotosContainer.innerHTML = ''; // Очищаем контейнер
                
                    for (const photo of photosInput.files) {
                        const img = document.createElement('img');
                        img.src = URL.createObjectURL(photo);
                        img.className = 'uploaded-photo';
                        uploadedPhotosContainer.appendChild(img);
                    }
                });
                </script>
                <style>.uploaded-photo {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    margin: 5px;
                    border: 1px solid #ddd;
                }
                </style>

            <h4 style="color: #007bff!important;">Дополнительная информация</h4>
            <div class="form-group">
                <label for="{{ form.kitchens_area.id_for_label }}">Площадь кухни (м²)</label>
                {{ form.kitchens_area }}
            </div>
            <div class="form-group">
                <label for="{{ form.otoplenie.id_for_label }}">Отопление</label>
                {{ form.otoplenie }}
            </div>
            <div class="form-group">
                <label for="{{ form.furniture.id_for_label }}">Мебель</label>
                {{ form.furniture }}
            </div>
            <div class="form-group">
                <label for="{{ form.balcony.id_for_label }}">Балкон, лоджия</label>
                {{ form.balcony }}
            </div>
            <div class="form-group">
                <label for="{{ form.documents.id_for_label }}">Правоустанавливающие документы</label>
                {{ form.documents }}

            </div>
            <div class="form-group">
                <label for="{{ form.security.id_for_label }}">Защита территории</label>
                {{ form.security }}
            </div>
            <div class="form-group">
                <label for="{{ form.walls_material.id_for_label }}">Материал стен</label>
                {{ form.walls_material }}
            </div>
            <div class="form-group">
                <label for="{{ form.ad_type.id_for_label }}">Тип предложения</label>
                {{ form.ad_type }}
            </div>

            <button type="submit" class="btn btn-submit">Добавить объект</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>