<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить агента</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 30px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        .form-group label {
            font-weight: bold;
        }
        .form-control-file {
            display: none;
        }
        .custom-file-label::after {
            content: "Выберите файл";
        }
        .custom-file-label.selected::after {
            content: attr(data-content);
        }
        .btn-submit {
            background-color: #007bff;
            color: #ffffff;
            border: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="mb-4">Добавить агента <br>{% if form.errors %}{{ form.errors }}{% endif %}</h2>
        <form method="post" action="{% url 'adminus:agent-add' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.full_name.id_for_label }}">ФИО:</label>
                {{ form.full_name }}
            </div>
            <div class="form-group">
                <label for="{{ form.agency_name.id_for_label }}">Агент компании:</label>
                {{ form.agency_name }}
            </div>
            <div class="form-group">
                <label for="{{ form.experience.id_for_label }}">Стаж:</label>
                {{ form.experience }}
            </div>
            <div class="form-group">
                <label>Специализация:</label>
                {% for specialization in form.specialization.field.queryset %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="id_specialization_{{ specialization.id }}" name="specialization" value="{{ specialization.id }}"
                            {% if specialization in form.instance.specialization.all %}checked{% endif %}>
                        <label class="form-check-label" for="id_specialization_{{ specialization.id }}">{{ specialization.specialization_name }}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.phone.id_for_label }}">Номер телефона:</label>
                {{ form.phone }}
            </div>

            <div class="form-group">
                    <label>Районы:</label>
                    {% for district in form.districts.field.queryset %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="id_specialization_{{ district.id }}" name="specialization" value="{{ district.id }}"
                                {% if district in form.instance.district.all %}checked{% endif %}>
                            <label class="form-check-label" for="id_specialization_{{ district.id }}">{{ district.district_name }}</label>
                        </div>
                    {% endfor %}
                </div>

            <div class="form-group">
                <label for="{{ form.slogan.id_for_label }}">Девиз:</label>
                {{ form.slogan }}
            </div>

            <div class="form-group">
                <label for="{{ form.image.id_for_label }}">Добавить фото:</label>
                <div class="custom-file">
                    {{ form.image }}
                    <label class="custom-file-label" for="{{ form.image.id_for_label }}" data-content="Файл не выбран"></label>
                </div>
            </div>

            <!-- Добавим элемент для предварительного просмотра выбранного изображения -->
            <div class="form-group">
                <label>Предварительный просмотр:</label>
                <img id="image-preview" src="" alt="Выбранное изображение" width="100">
            </div>

            <button type="submit" class="btn btn-submit">Добавить агента</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function previewImage(input) {
            var preview = document.getElementById('image-preview');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = "";
            }
        }
    </script>
</body>
</html>
